@import url("https://fonts.googleapis.com/css?family=JetBrains Mono");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --bg-main: #FFFFFF;
        --bg-header: #27272A;
        --text-main: #000000;
        --text-neg: #FFFFFF;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --bg-main: #27272A;
            --bg-header: #F2F3F4;
            --text-main: #FFFFFF;
            --text-neg: #000000;
        }
    }

    html,
    body,
    #app {
        height: 100%;
    }

    body {
        font-family: 'JetBrains Mono', monospace;
        margin: 0;
        @apply bg-bg text-text-main antialiased;
    }
}

@layer components {
    .app-container {
        /* @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8; */
        @apply mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8;
    }
}
